<ion-view class="member-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-more" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Member</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <ionic-letter-avatar data="{{avatar}}" shape="round"></ionic-letter-avatar>
        <h2>{{profile.name.first}} {{profile.name.last}}</h2>
        <p>{{profile.role}}</p>
      </div>
      <div class="item item-body">
        <div class="item">
          Username
          <span class="badge badge-light">
            {{profile._id}}
          </span>
        </div>
        <div class="item">
          Full name
          <span class="badge badge-light">
            {{profile.name.first}} {{profile.name.last}}
          </span>
        </div>
        <div class="item">
          Role
          <span class="badge badge-light">
            {{profile.role}}
          </span>
        </div>
        <div class="item">
          Vehicle
          <span class="badge badge-light">
            {{profile.vin}}
          </span>
        </div>
        <div class="item" ng-hide="profile.role == 'master'">
          Geofence
          <span class="badge badge-light">
            <div><i class="icon ion-ios-location"> {{profile.geofence.latitude | limitTo:5}} lat / {{profile.geofence.longitude | limitTo:5}} lng </i><br /></div>
            <div><i class="icon ion-ios-circle-filled"> {{profile.geofence.radius}}m</i></div>
          </span>
        </div>
        <div class="item" ng-hide="profile.role == 'master'">
          Speedfence
          <span class="badge badge-light">
            {{profile.speedfence}} km/h
          </span>
        </div>
      </div>
    </div>
  </ion-content>

  <script id="popovers/family/memberMenu.html" type="text/ng-template">
    <ion-popover-view style="height: 160px; width: 160px">
      <ion-content>
        <div class="list">
          <a class="item" ng-click="modalMember.show(); popover.hide()">
            Edit member
          </a>
          <a class="item" ng-click="modalGeofence.show(); popover.hide()" ng-hide="profile.role == 'master'">
            Set Geofence
          </a>
          <a class="item" ng-click="modalSpeedfence.show(); popover.hide()" ng-hide="profile.role == 'master'">
            Set Speedfence
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>

  <script id="modals/family/editMember.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit member</h1>
        <button class="button button-clear button-primary" ng-click="modalMember.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First name</span>
            <input ng-model="user.name.first" type="text" placeholder="{{profile.name.first}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last name</span>
            <input ng-model="user.name.last" type="text" placeholder="{{profile.name.last}}">
          </label>
          <button class="button button-block button-positive" ng-click="doUpdate()">Update</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modals/family/setGeofence.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Set Geofence</h1>
        <button class="button button-icon icon ion-pinpoint" ng-click="getLocation()"></button>
        <button class="button button-clear button-primary" ng-click="modalGeofence.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <!--<div class="item item-toggle">
            Positive/Negative
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>-->
          <div class="item">
            Radius
            <span class="badge badge-light">{{paths.circle.radius}} m</span>
          </div>
          <div class="item range range-positive">
            <i class="icon ion-ios-circle-outline"></i>
            <input type="range" name="volume" min="30" max="5000" ng-model="paths.circle.radius">
            <i class="icon ion-ios-circle-filled"></i>
          </div>
          <div class="item">
            <leaflet resizeable markers="markers" paths="paths" center="center" height="500px" width="100%"></leaflet>
          </div>
          <button class="button button-block button-positive" ng-click="doSetGeofence()">Save</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modals/family/setSpeedfence.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Set Speedfence</h1>
        <button class="button button-clear button-primary" ng-click="modalSpeedfence.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <div class="item">
            Current Speedfence
            <span class="badge badge-light">{{profile.speedfence}} km/h</span>
          </div>
          <div class="item">
            New Speedfence
            <span class="badge badge-light">{{newSpeedfence}} km/h</span>
          </div>
          <div class="item range range-positive">
            <i class="icon ion-ios-speedometer-outline"></i>
            <input type="range" name="speedfence" min="50" max="320" ng-model="newSpeedfence" ng-change="updateSpeedfence(newSpeedfence)">
            <i class="icon ion-ios-speedometer"></i>
          </div>
          <button class="button button-block button-positive" ng-click="doSetSpeedfence()">Save</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
