<ion-view class="member-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Member</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <ionic-letter-avatar data="{{profile.name.first}}" shape="round"></ionic-letter-avatar>
        <h2>{{profile.name.first}} {{profile.name.last}}</h2>
        <p>{{profile.role}}</p>
      </div>
      <div class="item item-body">
        <div class="item">
          Username
          <span class="badge badge-light">
            {{profile._id}}
          </span>
        </div>
        <div class="item">
          Full name
          <span class="badge badge-light">
            {{profile.name.first}} {{profile.name.last}}
          </span>
        </div>
        <div class="item">
          Role
          <span class="badge badge-light">
            {{profile.role}}
          </span>
        </div>
        <div class="item">
          Vehicle
          <span class="badge badge-light">
            {{profile.vin}}
          </span>
        </div>
        <div class="item">
          Geofence
          <i ng-class="profile.geofenceActive == true ? 'ion-ios-checkmark-outline' : 'icon ion-ios-close-outline'"></i>
          <span class="badge badge-light">
            <div><i class="icon ion-ios-location"> {{profile.geofence.latitude | limitTo:4}} lat / {{profile.geofence.longitude | limitTo:4}} lng </i><br /></div>
            <div><i class="icon ion-ios-circle-filled"> {{profile.geofence.radius}}m</i></div>
          </span>
        </div>
        <div class="item tem-icon-left">
          Speedfence
          <i ng-class="profile.speedfenceActive == true ? 'ion-ios-checkmark-outline' : 'icon ion-ios-close-outline'"></i>
          <span class="badge badge-light">
            {{profile.speedfence}} km/h
          </span>
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="modalGeofence.show()">
          <i class="icon ion-map"></i>
          Geofence
        </a>
        <a class="tab-item" ng-click="modalSpeedfence.show()">
          <i class="icon ion-ios-speedometer-outline"></i>
          Speedfence
        </a>
        <a class="tab-item" ng-click="modalMember.show()" ng-hide="role == 'child'">
          <i class="icon ion-person"></i>
          Edit Member
        </a>
      </div>
    </div>
  </ion-content>

  <script id="modals/family/editMember.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit member</h1>
        <button class="button button-clear button-primary" ng-click="modalMember.hide()">Back</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First name</span>
            <input ng-model="user.name.first" type="text" placeholder="{{profile.name.first}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last name</span>
            <input ng-model="user.name.last" type="text" placeholder="{{profile.name.last}}">
          </label>
          <button class="button button-block button-positive" ng-click="doUpdateMember()">Update</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modals/family/setGeofence.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Geofence</h1>
        <button class="button button-icon icon ion-pinpoint" ng-click="getLocation()"></button>
        <button class="button button-clear button-primary" ng-click="modalGeofence.hide()">Back</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <div class="item">
            Radius
            <span class="badge badge-light">{{paths.circle.radius}} m</span>
          </div>
          <div class="item range range-positive" ng-hide="role == 'child'">
            <i class="icon ion-ios-circle-outline"></i>
            <input type="range" name="volume" min="30" max="5000" ng-model="paths.circle.radius" ng-change="updateRadius(paths.circle.radius)">
            <i class="icon ion-ios-circle-filled"></i>
          </div>
          <ion-toggle ng-model="profile.geofenceActive" ng-change="activeGeofence(profile.geofenceActive)" ng-hide="role == 'child'" toggle-class="toggle-positive">Geofence Activation</ion-toggle>
          <div class="item" data-tap-disabled="true">
            <leaflet resizeable defaults="map.defaults" markers="map.markers" paths="paths" center="map.center" height="500px" width="100%"></leaflet>
          </div>
          <button class="button button-block button-positive" ng-click="doSetGeofence()" ng-hide="role == 'child'">Save</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modals/family/setSpeedfence.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Speedfence</h1>
        <button class="button button-clear button-primary" ng-click="modalSpeedfence.hide()">Back</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <div class="item">
            Current Speedfence
            <span class="badge badge-light">{{profile.speedfence}} km/h</span>
          </div>
          <div class="item" ng-hide="role == 'child'">
            New Speedfence
            <span class="badge badge-light">{{newSpeedfence}} km/h</span>
          </div>
          <div class="item range range-positive" ng-hide="role == 'child'">
            <i class="icon ion-ios-speedometer-outline"></i>
            <input type="range" name="speedfence" min="50" max="320" ng-model="newSpeedfence" ng-change="updateSpeedfence(newSpeedfence)">
            <i class="icon ion-ios-speedometer"></i>
          </div>
          <ion-toggle ng-model="profile.speedfenceActive" ng-change="activeSpeedfence(profile.speedfenceActive)" ng-hide="role == 'child'" toggle-class="toggle-positive">Speedfence Activation</ion-toggle>
          <button class="button button-block button-positive" ng-click="doSetSpeedfence()" ng-hide="role == 'child'">Save</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
