</ion-view>
  <div class="info-view">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">connect your family - Terms of Use</h1>
    </ion-header-bar>

    <ion-content class="padding" ng-controller="TermsOfUseCtrl">
      <div>
        <div>
          <p><b>Scope of Application, Amendments to the Terms and Conditions of Use, Users, Scope of Services</b></p>
          <p>Thanks for using our services. The services are provided by Daimler AG, Media University Stuttgart and University Reutlingen. By using our services, you are agreeing are to these terms and conditions of use. Please read them carefully.</p>
          <p>The following Terms and Conditions of Use set out by the authors apply to the use of the APPLICATION "connect your family". To be eligible to use the platform, visitors to the platform must have full legal capacity and be at least 18 years of age ('USER').</p>
          <p>By registering, the USER agrees to these Terms and Conditions of Use.</p>
          <p>The USER has no legal entitlement either to use the APPLICATION to the content contained therein. The PROVIDER of the APPLICATION is entitled to amend, add to, delete and/or shut down the entire site permanently or temporarily without prior announcement.</p>
          <p>The process of transmitting, saving, backing up and encrypting data of any kind does not form part of the services provided with relation to the PLATFORM and its applications. If the option to transmit data is used within the applications (e.g. push notifications), the data will be sent unencrypted.</p>
          <p><b>Registration, Login, Contractual Declarations, Termination, Suspension of User Account</b></p>
          <p>MASTER-USER: A master user, who is the owner of a vehicle can register himself/herself with USERNAME, First name, Last name and password</p>
          <p>After the first Login of an MASTER-USER she/he has to enroll a vehicle by the VIN (Vehicle Identification Number)</p>
          <p>The MASTER-USER has the force to create CHILD-USER for her/his vehicle within USERNAME, First name and Last name. He has to inform her/his members about their account.</p>
          <p>You can delete your user account at any time by writing us an eMail. Please note: once the user account is deleted, the personalized use of associated websites and applications is no longer possible.</p>
          <p>The PROVIDER is entitled, at its own discretion, to delete the password and the user account.</p>
          <p><b>Costs</b></p>
          <p>The use of the APPLICATION is actual free of charge.</p>
          <p>Any costs incurred through the use of the internet (mobile or otherwise), the use of other media or telecommunications equipment or through any other technical requirements are borne by the USER and will be based on the charges levied by the respective provider.</p>
          <p><b>Code of Conduct</b></p>
          <p>In using the APPLICATION, the USER may not offer, circulate and/or make available – either directly or indirectly through a third party – any unlawful and/or illegal USER POSTS or other content that offends public decency. This includes, but is not limited to, statements that are pornographic or explicitly sexual, harmful to young people, extremist or racist, that glorify or play down violence, glamorize war, promote a terrorist or extremist political group, incite a criminal act and/or are defamatory. The same also applies to content that could infringe copyrights, intellectual property rights or personality rights of third parties or any other rights of third parties.</p>
          <p>When using the APPLICATION, the USER must refrain from any action that could potentially compromise the security of the systems and/or software of the PROVIDER or other parties. In the event of any such violations, the PROVIDER is entitled to immediately revoke access for using the APPLICATION. Furthermore, the USER must refrain from any action that could lead to a disruption to the use of the APPLICATION. This applies mutatis mutandis for services that facilitate unauthorized access to the APPLICATION by third parties, in particular for malware, Trojans, etc. Such use of the APPLICATION will also result in access being immediately revoked.</p>
          <p>The USER is not allowed to modify, overwrite, copy or distribute sections of the APPLICATION made available by the PROVIDER or other users, particularly if this involves circumventing technical protection measures.</p>
          <p>Furthermore, the software applications underlying the APPLICATION may not be modified, edited, decompiled (including by means of reverse engineering), stored or otherwise copied, unless temporary storing is necessary for the running of an application program.</p>
          <p>The USER is expressly prohibited to use services made available via the APPLICATION and/or provide USER POSTS for commercial purposes of whatever nature (e.g. to imitate, sell, lease, or use or offer for one's own or third party advertising purposes).</p>
          <p>Likewise, any data and content called up via the APPLICATION may not be systematically collected and/or used by the USER for commercial purposes. Any automated use of the APPLICATION (e.g. with crawlers or other software) is prohibited.</p>
          <p>In addition, the USER may not offer access to applications or work results derived from applications to third parties for a fee or as part of sponsored work.</p>
          <p><b>Data Protection</b></p>
          <p>The PROVIDER collects, processes, and uses the personal data of the USER in accordance with these Terms and Conditions of Use for the provision of the APPLICATION and its functions.</p>
          <p>Availability of the APPLICATION</p>
          <p>The PROVIDER makes every effort to prevent technical faults and disruptions. At the same time, the PROVIDER cannot guarantee that the APPLICATION is fully available and accessible at all times.</p>
          <p>Access to the APPLICATION can also be suspended, restricted or impeded at times to allow repairs and maintenance work to be carried out or new services and functions to be introduced.</p>
          <p><b>Indemnification, Liability, Warranty</b></p>
          <p>Regardless of the issue of fault, the USER will indemnify the PROVIDER in respect of all claims, costs, damages, and losses (including the costs of reasonable legal proceedings) asserted by any of the social networks or third parties against the PROVIDER that arise from the USER'S violation of legal provisions, third-party rights, and/or these Terms and Conditions of Use. This applies in particular to any claims brought against the PROVIDER by one of the social networks on the basis of their Terms and Conditions of Use.</p>
          <p>The PROVIDER is liable for loss or damage – irrespective of the legal basis – only if the PROVIDER caused such loss or damage intentionally or through gross negligence or if the PROVIDER negligently violated a material contractual obligation ('cardinal duty'). In the event that any material contractual obligations are violated, the PROVIDER'S liability will always be restricted to the damage that is typical of the type of contract concerned and foreseeable at the time the contract was entered into.</p>
          <p>The PROVIDER is not liable for any loss or damage caused by the violation of non-material contractual obligations due to ordinary negligence.</p>
          <p>Material contractual obligations are obligations that protect those legal rights of the USER that are essential to the contract and that the contract seeks to grant the USER, as evidenced by its content and purpose. Material contractual obligations are furthermore obligations, whose fulfillment is a prerequisite for the proper performance of the contract and on whose observance the USER has relied and ought reasonably to be able to rely.</p>
          <p>The aforementioned disclaimer and limitation of liability will not apply in respect of any loss of life, bodily injury or damage to health, nor will they apply for claims arising under a quality guarantee or under the German Product Liability Act (Produkthaftungsgesetz).</p>
          <p>The PROVIDER makes the information on the APPLICATION available without any warranty or assurance of any kind, either express or implied. All implied warranties in respect of marketability, fitness for any particular purpose or the non-infringement of laws and patents are also excluded. Although the PROVIDER assumes that the information supplied by it is correct, it may contain mistakes or inaccuracies.</p>
          <p>The PROVIDER accepts no liability for the routes created, their correctness and possible uses and/or restrictions. In particular, the PROVIDER is not liable for any loss or damage that occurs while traveling on these routes. The USER assumes individual responsibility for travel on these routes.</p>
          <p><b>Concluding Provisions</b></p>
          <p>Should one or more of the aforementioned provisions be or become invalid, the validity of the other provisions will not be affected.</p>
          <p>These Terms and Conditions of Use are governed by German law applicable to domestic transactions. The United Nations Convention on Contracts for the International Sale of Goods is excluded.</p>
          <p>Boeblingen, Germany is the place of performance and jurisdiction if the USER is a business, a legal entity under public law, or a publicly-owned corporation. This is without prejudice to mandatory statutory jurisdictional requirements.</p>
          <p><b>Last modified: 09th of March, 2016</b></p>
        </div>
      </div>
      <div>
        <button type="submit" class="button button-positive button-block" ng-click="agreeTermsOfUse()">
          Agree to Terms of Use
        </button>
        <button type="submit" class="button button-assertive button-block" style="vertical-align: bottom" ng-click="disagreeTermsOfUse()">
          Disagree to Terms of Use and Logout
        </button>
      </div>
    </ion-content>
  </div>
</ion-view>
