<ion-view class="tours-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Tours</span>
  </ion-nav-title>
  <ion-content>
    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <div class="item item-divider"
           ng-repeat-start="(date, tours) in dates">
        {{date | date:"dd.MM.yyyy"}} <span class="badge badge-dark">{{tours.length}}</span>
      </div>
      <a class="item item-avatar" ng-repeat="tour in tours | orderBy:'route.timestampStart'" ui-sref="app.tour({tourId: tour._id})">
        <ionic-letter-avatar data="{{tour.userId}}" shape="round"></ionic-letter-avatar>
        <h2>{{tour.route.timestampStart | date:"dd.MM.yyyy HH:mm"}}</h2>
          <div class="row">
          <span class="icon ion-person" style="width: 80px"> {{tour.userId}}</span>
          <span class="icon ion-ios-location" style="width: 80px"> {{tour.route.routeDistance}} km</span>
          <span class="icon ion-ios-clock" style="width: 80px"> {{tour.route.routeDuration | secondsToHHmmss}}</span>
          </div>
      </a>
      <div ng-repeat-end></div>
    </div>
  </ion-content>
</ion-view>
