<ion-view class="info-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Info</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Statistics
      </div>
      <div class="item">
        Tours
        <span class="badge badge-light">{{toursCounter}}</span>
      </div>
      <div class="item">
        Family Members
        <span class="badge badge-light">{{familyCounter}}</span>
      </div>
      <div class="item item-divider">
        About
      </div>
      <div class="item">
        App-Version
        <span class="badge badge-light">0.1</span>
      </div>
      <div class="item">
        Server
        <span class="badge badge-light">{{serverUrl}}</span>
      </div>
      <div class="item item-divider">
        Copyright
      </div>
      <div class="item">
        <p>© 2016 Daimler AG</p>
        <p>Authors: Ronald Henger & Tobias Vetter</p>
      </div>
    </div>
  </ion-content>
</ion-view>
