<ion-view class="overview-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Overview</span>
  </ion-nav-title>
  <ion-content ng-controller="OverviewCtrl">
    <div class="card">
      <div class="item item-divider">
        Total distance
      </div>
      <div class="item item-text-wrap">
        <canvas id="pie" class="chart chart-pie" chart-data="piedata" chart-labels="labels"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>
