<ion-view class="profile-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/tobi-square.jpg">
        <h2>Tobias</h2>
        <p>S-TV 123</p>
      </a>
    </div>
    <p class="padding">Lorem ipsum.</p>
  </ion-content>
</ion-view>
