<ion-view class="profile-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <ionic-letter-avatar data="{{userId}}" shape="round"></ionic-letter-avatar>
        <h2>{{profile.name.first}} {{profile.name.last}}</h2>
        <p>{{profile.role}}</p>
      </div>
      <div class="item item-body">
        <div class="item">
          Username
          <span class="badge badge-light">
            {{profile._id}}
          </span>
        </div>
        <div class="item">
          Full name
          <span class="badge badge-light">
            {{profile.name.first}} {{profile.name.last}}
          </span>
        </div>
        <div class="item">
          Role
          <span class="badge badge-light">
            {{profile.role}}
          </span>
        </div>
        <div class="item">
          Vehicle
          <span class="badge badge-light">
            {{profile.vin}}
          </span>
        </div>
        <div class="item">
          Geofence
          <i ng-class="profile.geofenceActive == true ? 'ion-ios-checkmark-outline' : 'icon ion-ios-close-outline'"></i>
          <span class="badge badge-light">
            <div><i class="icon ion-ios-location"> {{profile.geofence.latitude | limitTo:4}} lat / {{profile.geofence.longitude | limitTo:4}} lng </i><br /></div>
            <div><i class="icon ion-ios-circle-filled"> {{profile.geofence.radius}}m</i></div>
          </span>
        </div>
        <div class="item">
          Speedfence
          <i ng-class="profile.speedfenceActive == true ? 'ion-ios-checkmark-outline' : 'icon ion-ios-close-outline'"></i>
          <span class="badge badge-light">
            {{profile.speedfence}}
          </span>
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="modalProfile.show()">
          <i class="icon ion-person"></i>
          Edit Profile
        </a>
      </div>
    </div>
  </ion-content>

  <script id="modals/app/editProfile.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit profile</h1>
        <button class="button button-clear button-primary" ng-click="modalProfile.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First name</span>
            <input ng-model="user.name.first" type="text" placeholder="{{profile.name.first}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last name</span>
            <input ng-model="user.name.last" type="text" placeholder="{{profile.name.last}}">
          </label>
          <button class="button button-full button-positive" ng-click="doUpdate()">Update</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modals/app/changeVehicle.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Vehicle</h1>
        <button class="button button-clear button-primary" ng-click="modalVehicle.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <ion-radio ng-repeat="vehicle in vehicles" ng-change="updateVehicle(vehicle.vin)" ng-value="vehicle.vin" ng-model="currentVehicle">{{vehicle.vin}}</ion-radio>
          <button class="button button-full button-positive" ng-click="doUpdateVehicle(newVehicle)">Update</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
