<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Settings</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">
      <div class="item item-divider item-button-right">General</div>
      <ion-toggle ng-model="settinga" toggle-class="toggle-positive">Push Notifications</ion-toggle>
      <div class="padding">
        <button class="button button-block button-light" ng-click="registerDevice()">
          Re-register device
        </button>
      </div>

      <div class="item item-divider">App Data</div>
      <div class="padding">
        <button class="button button-block button-light" ng-click="cleanCache()">
          Clean cache
        </button>
        <button class="button button-block button-light" ng-click="cleanLocalStorage()">
          Clean local storage
        </button>
        <button class="button button-block button-light" ng-click="reloadData()">
          Reload all data
        </button>
      </div>

      <div class="item item-divider">Logout</div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="logout()">
          Logout
        </button>
      </div>
    </ul>
  </ion-content>
</ion-view>
