.member-view
{
  .ion-popover-view.fit
  {
    height: 100px;
  }

  .ion-popover-view.fit ion-content
  {
    position: relative;
  }

  .platform-android ion-popover-view.fit
  {
    margin-top: 10px;
  }

  .platform-ios ion-popover-view.fit
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}
